.table{
   border: solid 10px green;
   width: 500px;
   height: 400px;
   margin: auto;
   /* border-collapse: collapse; */
   border-radius: 30px;
}

.table td{
   border: solid 10px red;
   border-radius: 30px;
}

.table .td12{
   border: dotted 5px blue;
   border-radius: 30px;
   background-color: violet;
   width: 40px;
}

.table thead th{
   border: solid 3px black;
}