*{
   /* box-sizing: border-box; */
}

div{
   width: 400px;
   min-height: 250px;
   border: solid 10px green;
   margin: auto;
}

.div2{
   padding-top: 30px;
   padding-left: 50px;
   box-sizing: border-box;
   padding-bottom: 70px;
}

.div1{
   /* padding: 30px 50px 70px 90px; */
   /* padding: 30px 50px 70px; */
   /* padding: 30px 50px; */
   padding: 30px;
}